/* General */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-size: 16px;
}
:root {
  --primary-color: #b9deed;
  --secondary-color: #efefef;
  --light-color: #fff;
  --dark-color: #000;
}
body {
  user-select: none;
}
.App {
  background: linear-gradient(
    90deg,
    var(--primary-color),
    var(--secondary-color)
  );
  z-index: -99;
}
.light-mode {
  --primary-color: #b9deed;
  --secondary-color: #efefef;
}
.dark-mode {
  --primary-color: #252850;
  --secondary-color: #354e76;
}

.toggle {
  width: 10%;
  height: 6vh;
  position: fixed;
  right: 6%;
  top: 4%;
  display: flex;
  align-items: center;
  justify-content: right;
  z-index: 10;
}
.toggle input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}
.toggle input[type="checkbox"]:checked + label:after {
  left: calc(100% - 32px);
  /* transform: translateX(-100%); */
  rotate: 360deg;
  /* content: "\1F311"; */
}
.toggle label {
  cursor: pointer;
  width: 95px;
  height: 6vh;
  background: linear-gradient(
    135deg,
    var(--secondary-color) 10%,
    var(--primary-color) 100%
  );
  border-radius: 16px;
  position: relative;
  transition: 0.8s;
  padding: 0 3%;
}
.toggle label:hover {
  border: 1px solid var(--primary-color);
}
.toggle label:hover + {
  border: 1px solid var(--primary-color);
}
.toggle label:after {
  /* content: "\1F323"; */
  content: "";
  width: 30px;
  height: 6vh;
  top: 2px;
  left: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  /* background: #fff; */
  border-radius: 16px;
  transition: 0.8s;
}
.toggle input[type="checkbox"]:checked + label span {
  left: calc(100% - 32px);
  rotate: 360deg;
}
.toggle span {
  z-index: 1;
  font-size: 1.5em;
  width: 30px;
  height: 6vh;

  left: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  border-radius: 40px;
  transition: 0.8s;
}
.none-icon {
  opacity: 0;
}

@media (max-width: 830px) {
  .toggle {
    right: 4%;
    width: 15%;
    top: 2%;
    margin: 0 2%;
  }
}
@media (max-width: 560px) {
  .toggle span {
    width: 100%;
    left: 0;
  }
  .toggle input[type="checkbox"]:checked + label span {
    left: 0;
    rotate: 360deg;
  }
}
